<header>
  <h2>Over a Decade Helping Airlines Grow Through IT Excellence</h2>
</header>
<div class="content_box">

  <p class="highlight-text"><span>Newshore was founded in Barcelona in 2008 by a team of experienced technology consultants that set out with a simple, yet disruptive, principle in mind: access to first-class IT talent should not cost you the Earth.</span></p>
  <h3>Airline Technology Experts</h3>

  <p><span>This foundational principle has been the cornerstone of our focus in the fast-growing low cost and hybrid airline industry. This is a highly competitive and dynamic sector where the need for high quality and fast support to the setup critical technology systems is combined with a no-nonsense and lean approach to costs.</span></p>
  <p><span>Our commitment to excellence and competitiveness is underlined by the fact that we have supported some of the most successful airline launches of the last decade. This continues to be our guiding principle as we we keep expanding our geographical reach, range of services and solutions and portfolio of clients in the airline industry.</span></p>

  <h3>Meet our people:</h3>

  <p>People are our greatest asset. This is the reason that we strive to create the sort of environment where talent can flourish and develop.</p>
  <p><span>Our team is diverse, with our consultants coming from different countries, industries and areas of expertise. Consultants with a travel and airline background work side by side with top-notch programmers to develop tools and solutions that are at the cutting edge of airline technology innovation.</span></p>
  <p><span>What we all share is our commitment to excellence and the pride we take in being trailblazers in one of the most fast-paced, high profile industries in the World.</span></p>
</div>
<article class="article_box">

  <header>

    <h3>Meet our clients:</h3>
  </header>

  <div class="content_box">
    <p>We work with some of the most successful and innovative low cost and hybrid airlines launched in the last few years.</p>
    <p>But let’s be clear about one thing: we are not in the business of providing one-shot solutions.</p>
    <p>Instead, our consultative customer-centric approach typically results in long term engagements that deliver the most value for our customers and allows us to support them as they grow. More often than not, our customers end up being long-term partners, rather than just clients.</p>
  </div>

</article>
<article class="article_box">

  <header>

    <h3>Work with us</h3>
  </header>

  <div class="content_box">

    <p><span>Our airline customers are global and so is our quest for talent. </span></p>
    <p><span>At Newshore we will help you fulfill your potential while working in a truly dynamic industry.</span></p>
    <p><span>We take pride in our hands-on approach and flat hierarchy. As one of our consultants, you will be encouraged engage with customers and take responsibilities early on, </span></p>
    <p><span>It is hard, but highly stimulating, work and the opportunities for professional growth are countless. And, yes, it can also be fun. </span></p>
    <p><span>Therefore, open-mindedness, leadership and integrity are essential qualities we look for in each one of our consultants.</span></p>
  </div>
</article>

